<div class="container">

    <img src="../../../../../../assets/logo.svg" alt="Logo do projeto">

    <form [formGroup]="formAuth" (ngSubmit)="submitForm()">

        <label>
            <img src="../../../../../../assets/icons/email_img.svg" alt="Ícone do email">
            <input type="email" formControlName="email" placeholder="Email" required>
        </label>

        <label>
            <img src="../../../../../../assets/icons/password_img.svg" alt="Ícone da senha">
            <input type="password" formControlName="password" placeholder="Senha" required>
        </label>

        <button class="btn-vermelho" [disabled]="formAuth.invalid">Login</button>

    </form>
    
    <span class="message-error" *ngIf="messageError">{{messageError}}</span>
</div>
